<div class="container">
  <div class="row justify-content-center align-items-center header">
    <div class="col-md-5 header-content">
      <h2 class="title">Tic Tac Toe</h2>
      <div class="subtext">
        <h4>3 X 3 Game</h4>
        <p>
          It is a two player game and winner should have three X's or O's in
          row, column or diagonal.
        </p>
      </div>
      <div class="subtext">
        <h4>5 X 5 Game</h4>
        <p>
          It is a team game, with two players in each team and winner should
          have five X's or O's in row, column or diagonal.
        </p>
      </div>
    </div>
    <div class="col-md-5 player-content">
      <div class="row justify-content-center info" *ngIf="showPlayerDetails">
        <div class="col-6 offset-md-1">
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="gameType"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let game of gameTypes"
              [value]="game.id"
            >
              {{ game.label }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-12">
          <div class="row" *ngIf="gameType === 1">
            <div class="col" *ngIf="gameType === 1">
              <h4>Player Details</h4>
              <form class="example-form" [formGroup]="playerForm">
                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Player 1</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="player1"
                        placeholder="Ex. Player One"
                      />
                      <mat-error
                        *ngIf="playerForm.controls.player1.errors?.required"
                      >
                        Please enter a valid player name
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-5 offset-md-1">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Player 2</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="player2"
                        placeholder="Ex. Player Two"
                      />
                      <mat-error
                        *ngIf="playerForm.controls.player2.errors?.required"
                      >
                        Please enter a valid player name
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row" *ngIf="gameType === 2">
            <div class="col">
              <h4>Team Details</h4>
              <form class="example-form" [formGroup]="teamForm">
                <h3>Team 1</h3>
                <div class="row" formGroupName="team1">
                  <div class="col-md-5">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Player 1</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="player1"
                        placeholder="Ex. Player One"
                      />
                      <mat-error
                        *ngIf="teamForm.get('team1.player1')?.errors?.required"
                      >
                        Please enter a valid player name
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-5 offset-md-1">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Player 2</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="player2"
                        placeholder="Ex. Player Two"
                      />
                      <mat-error
                        *ngIf="teamForm.get('team1.player2')?.errors?.required"
                      >
                        Please enter a valid player name
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <h3>Team 2</h3>
                <div class="row" formGroupName="team2">
                  <div class="col-md-5">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Player 1</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="player1"
                        placeholder="Ex. Player One"
                      />
                      <mat-error
                        *ngIf="teamForm.get('team2.player1')?.errors?.required"
                      >
                        Please enter a valid player name
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-5 offset-md-1">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Player 2</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="player2"
                        placeholder="Ex. Player Two"
                      />
                      <mat-error
                        *ngIf="teamForm.get('team2.player1')?.errors?.required"
                      >
                        Please enter a valid player name
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-6 offset-md-2">
          <button
            class="btn btn-info"
            (click)="playGame()"
            [disabled]="gameType === 1 ? !playerForm.valid : !teamForm.valid"
          >
            Play Game
          </button>
        </div>
      </div>
      <div *ngIf="!showPlayerDetails">
        <app-board
          [gameSelected]="gameSelected"
          [isTeam]="isTeam"
          [players]="players"
          [teamMembers]="
            isTeam
              ? [
                  [players[0], players[1]],
                  [players[2], players[3]]
                ]
              : [[], []]
          "
          (homeEventTrigger)="restartAll($event)"
        ></app-board>
      </div>
    </div>
  </div>
</div>
